@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F1EFE7;
    color: #ffffff;
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

#logo {
    position: absolute;
    top: 20px;
    text-align: center;
    width: 100%;
    z-index: 1;
}

#logo img {
    width: 300px;
    display: block;
    margin: 0 auto;
}

#gameContainer {
    position: relative;
    z-index: 2;
}

canvas {
    background-color: #000000;
    border-radius: 15px;
    margin-top: 100px;
    z-index: 2;
}

#controls {
    margin-top: 20px;
    font-size: 16px;
    color: black;
    padding: 10px 20px;
    background-color: #F1EFE7;
    border-radius: 10px;
    border: 2px solid black;
}

#controls p {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

#controls ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
    text-align: center;
}

#controls ul li {
    margin: 5px 0;
}
